// Partials
@import "mixins";
@import "base";
@import "helpers";
@import "fonts";
@import "normalize";

// Vars
$indigo: #21AABD;
$eggShell: #FDFEFF;
$lightGrey: #EAEAEA;

/* ----------------------------------------------------------------
 *  ￼ Basic
 * ----------------------------------------------------------------
*/
	html {
		
	}

	body {
		background-color: $lightGrey;
		font-size: 16px;
	}

	.container {
		margin-top: 20px;
		padding: 0 20px;
	}

	.show-nav {
		overflow: visible;
	}

/* ----------------------------------------------------------------
 *  ￼ 	Headings
 * ----------------------------------------------------------------
*/
	h1, h2, h3 {

	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.5em;
	}

/* ----------------------------------------------------------------
 *  ￼ Typography
 * ----------------------------------------------------------------
*/
	p {

	}

	.strong {
		font-weight: bold;
	}

/* ----------------------------------------------------------------
 *  ￼ Buttons
 * ----------------------------------------------------------------
*/
	

/* ----------------------------------------------------------------
 *  ￼ Links
 * ----------------------------------------------------------------
*/
	a {
		
	}

	a:hover {

	}
/* ----------------------------------------------------------------
 *  ￼ Header
 * ----------------------------------------------------------------
*/
	

/* ----------------------------------------------------------------
 *  ￼ Nav
 * ----------------------------------------------------------------
*/

/* ----------------------------------------------------------------
 *  ￼ Resource
 * ----------------------------------------------------------------
*/
	.resource {
		border: 1px solid #ddd;
		color: initial;

		.columns {
			padding: 0;
		}
	}
	
	.resource-header {
		background-color: #F5F5F5;
		border-radius: 3px 3px 0 0;
		border-bottom: 1px solid #ddd;
	}
	
	.resource-content {
		background-color: white;
		border-radius: 0 0 3px 3px;
	}

	.resource-box {
		margin-bottom: 20px;
	}

	.tag {
		background-color: $indigo;
		padding: 3px 5px;
		border-radius: 3px;
		color: white;
		font-size: .9em;
	}
/* ----------------------------------------------------------------
 *  ￼ Login
 * ----------------------------------------------------------------
*/
	.login {
		width: 500px;
	}