// Partials
@import "mixins";
@import "base";
@import "helpers";
@import "fonts";
@import "normalize";

// Vars
$indigo: #21AABD;
$eggShell: #FDFEFF;

/* ----------------------------------------------------------------
 *  ￼ Basic
 * ----------------------------------------------------------------
*/
	html {
		
	}

	body {

	}

/* ----------------------------------------------------------------
 *  ￼ 	Headings
 * ----------------------------------------------------------------
*/
	h1, h2, h3 {

	}

	h1 {

	}

/* ----------------------------------------------------------------
 *  ￼ Typography
 * ----------------------------------------------------------------
*/
	p {

	}

/* ----------------------------------------------------------------
 *  ￼ Buttons
 * ----------------------------------------------------------------
*/
	

/* ----------------------------------------------------------------
 *  ￼ Links
 * ----------------------------------------------------------------
*/
	a {
		
	}

	a:hover {

	}
/* ----------------------------------------------------------------
 *  ￼ Header
 * ----------------------------------------------------------------
*/
	

/* ----------------------------------------------------------------
 *  ￼ Nav
 * ----------------------------------------------------------------
*/

/* ----------------------------------------------------------------
 *  ￼ Resource
 * ----------------------------------------------------------------
*/
	.resource {
		background-color: $indigo;
		color: $eggShell;
		padding: 10px;
		box-shadow: 0px 2px 10px 3px rgba(0,0,0,.3);

		@include breakpoint-min(40.063em) {
			background-color: white;
			box-shadow: none;
			color: initial;
		}
	}

/* ----------------------------------------------------------------
 *  ￼ Footer
 * ----------------------------------------------------------------
*/
	