
/* ----------------------------------------------------------------
 *  ￼ Basic
 * ----------------------------------------------------------------
*/
	html {
		
	}

	body {
		background-color: #F8F9FA;
		font-size: 16px;
		font-family: helvetica;	
	}

	.container {
		width: 743px;
		margin: 0 auto;
	}
	
	.key-container {
		margin-top: 20px;
	}
	
	.box {
		background-color: white;
		border: 1px solid #ddd;
		padding: 10px;
	}

	.key-manage {
		margin: 20px 0;
	}

	.pad {
		padding: 10px;
	}

	.clearfix {
		overflow: hidden;
	}

	.api-title {
		color: inherit;
	}
/* ----------------------------------------------------------------
 *  ￼ 	Headings
 * ----------------------------------------------------------------
*/
	h1, h2, h3 {

	}

	h1 {

	}
	
	h2 {
		color: #FDFEFF;
		font-size: 1.2em;
	}
/* ----------------------------------------------------------------
 *  ￼ Typography
 * ----------------------------------------------------------------
*/
	p {

	}

/* ----------------------------------------------------------------
 *  ￼ Buttons
 * ----------------------------------------------------------------
*/
	.btn {
		display: inline;
		padding: 5px 10px;
		border-radius: 3px;
		border: none;
		color: white;
		text-align: center;
		font-size: .9em;
		height: 49px;
		background-color: #21AABD;
		cursor: pointer;
	}

	.btn:hover {
		text-decoration: none;
	}

/* ----------------------------------------------------------------
 *  ￼ Links
 * ----------------------------------------------------------------
*/
	a {
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

/* ----------------------------------------------------------------
 *  ￼ Forms
 * ----------------------------------------------------------------
*/
	input[type="text"], input[type="password"] {
		height: 40px;
		width: 49%;
		padding: 5px;
		display: inline;
		border: 1px solid #ddd;
		font-size: .9em;
	}

	.admin-login input {
		display: block;
		margin-bottom: 20px;
		width: 100%;
	}

/* ----------------------------------------------------------------
 *  ￼ API-Docs
 * ----------------------------------------------------------------
*/
	.document {
		border: 1px solid #ddd;
		border-radius: 5px;
		background-color: #FDFEFF;
		margin: 20px 0;
	}
	
	.document-header > h3, .document-header > span {
		float: left;
	}

	.document-header {
		border-radius: 5px 5px 0 0;
		background-color: #1693A5;
	}

	.method {
		display: block;
		background-color: #334D67;
		padding: 31px;
		margin: -10px 0 -10px -10px;
		color: white;
	}

	.title {
		margin-left: 10px;
		float: left;
	}
	
	.to-top {
		position: fixed;
		bottom: 0;
		right: 20px;
		background: #556270;
		border-radius: 3px 3px 0 0;
		padding: 10px;
		color: white;
	}