<!doctype html>
<html lang="en" ng-app="ToerhApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <nav data-ng-class="{'show-nav': toggle}" class="top-bar" data-top-bar data-option="is_hover: false">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Toerh</a></h1>
            </li>

            <li data-ng-click="toggle = !toggle" class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
        </ul>
        
        <section class="top-bar-section">
            <ul class="right" data-ng-controller="AuthController">
                <li data-ng-show="isLoggedIn()"><a href="" data-ng-href="#profile">Profile</a></li>
                <li><a href="" data-ng-href="#">Resources</a></li>
                <li data-ng-show="isLoggedIn()"><a href="" data-ng-href="#resources/add">Add Resource</a></li>
                <li data-ng-hide="isLoggedIn()"><a href="" data-ng-href="#login">Login</a></li>
                <li data-ng-hide="isLoggedIn()"><a href="" data-ng-href="#signup">Signup</a></li>
                <li data-ng-show="isLoggedIn()"><a href="" data-ng-click="logout()">Logout</a></li>
            </ul>
            <ul class="right">
                 <li class="has-form">
                    <div class="row collapse">
                        <div class="large-8 small-9 columns">
                            <input data-ng-model="search" type="text" placeholder="Search Resources">
                        </div>
                        
                        <div class="large-4 small-3 columns">
                            <a href="#" data-ng-href="#/search/{{search}}" class="alert button expand">Search</a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </nav>

    <div class="container" ng-view></div>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-cookies.js"></script>
    <script src="js/notificationProvider.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routeConfig.js"></script>
    <script src="js/resource/resourceController.js"></script>
    <script src="js/resource/resourceService.js"></script>
    <script src="js/resource/createController.js"></script>
    <script src="js/auth/authController.js"></script>
    <script src="js/auth/authService.js"></script>
    <script src="js/auth/sessionService.js"></script>
    <script src="js/licence/licenceService.js"></script>
    <script src="js/resource_type/resourceTypeService.js"></script>
    <script src="js/search/searchController.js"></script>
    <script src="js/user/userController.js"></script>
    <script src="js/user/saveUserController.js"></script>
    <script src="js/user/userService.js"></script>
    <script src="js/common/filters/excerptFilter.js"></script>
    <script src="js/resource/loadMoreDirective.js"></script>
    <script src="js/user/validateSameDirective.js"></script>
</body>
</html>
